/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7efda;
}

h1 {
  text-align: center;
}

h1, h2 {
  color: #fd8480;
}

p, a {
  color: #39d4c1;
}

a {
  text-decoration: none;
/*  &:hover {
    color: #2fae9e;
    text-decoration: none;
  }*/
}

a:hover {
  color: #2fae9e;
  text-decoration: none;
}

table {
  border-radius: 4px;
  margin: 20px;
}

table, td, th {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

th, td {
  padding: 8px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#footer p {
  color: #fd8480;
}

