/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #f7efda;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

h1, h2 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Varela Round', sans-serif;
  color: #fd8480;
}

p, a {
  color: #39d4c1;
}

a {
  text-decoration: none;
/*  &:hover {
    color: #2fae9e;
    text-decoration: none;
  }*/
}

a:hover {
  color: #2fae9e;
  text-decoration: none;
}

table {
  /*border-radius: 8px;*/
  margin: 25px auto;
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

table, td, th {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

th, td {
  text-align: center;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}

th {
  background: #00cccc;
  /*background: #39d4c1;*/
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}


td {
  color: #999;
}

tr:hover {
  background: #f4f4f4;
}

tr:hover td {
  color: #555;
}


#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#footer p {
  color: #fd8480;
}

