<br><div>
  <h2>Past Appointments</h2>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Counselor</th>
    <th>View Notes</th>
  </tr>
  <% past_sessions.each do |session| %>
    <tr>
      <td><%= formatted_date(session.date) %></td>
      <td><%= session.counselor.first_name %></td>
      <td><% link_to "Notes", '#' %></td>
    </tr>
  <% end %>
</table>
<br>
<div>
  <%= link_to 'Back to your Homepage', appointments_path %>
</div>
